d96a/jaxb/src/main/xsd/condra/condra.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:condra="urn:org.milyn.edi.unedifact:un:d96a:condra" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:condra">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="CONDRA" type="condra:CONDRA"/>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
          This segment group can be used to quote specific references
          for each partner, that may be needed for internal use.
          Examples of references that a partner may require are
          internal project number or a DP number.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments used for quoting references and their
       relevant dates applicable to the message. For the building
       industry the following recommendation is given: in the first
       occurrence of this segment group the project references, if
       relevant, can be given, in order to identify the project to
       which this message  relates. In any subsequent  recurrence of
       this segment group, references to other messages (e.g. the
       original CONDRO when it is an update) or documents, relevant to
       this message, may be quoted.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments identifying all the relevant parties with
       specific information about them that other business partner
       should know.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="INP" type="Q1:Inp"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_3" type="condra:SegmentGroup3"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_4" type="condra:SegmentGroup4"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
                If the reference number quoted in the previous RFF
                segment is a reference to another message/document,
                this segment group is used to give more details about
                this message/document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
             For each of the levels that are identified in the
             previous BII segment it is possible to refer to other
             messages/documents on other levels of the structure of
             the engineering/CAD file identified in the previous EFI
             segment. It is also possible to refer to other levels
             which are part of a different engineering/CAD file than
             the one identified in the previous EFI segment. If
             needed, here should also be made a reference to a
             contractual document or to a revision number.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_8" type="condra:SegmentGroup8"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_9" type="condra:SegmentGroup9"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
       A group of segments that refers through an external file
       identification to each of the external engineering/CAD files
       and giving additional information about each of the files.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="EFI" type="Q1:Efi"/>
      <xsd:element form="qualified" maxOccurs="10" name="CED" type="Q1:Ced"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="100000" minOccurs="0" name="Segment_group_6" type="condra:SegmentGroup6"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
          A group of segments giving contact details of the specific
          person or department within the party identified in the NAD
          segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
      <xsd:element form="qualified" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
                            LOC-DIM-MEA-SG7
          A group of segments that records more detailed information
          about the contents of the external engineering/CAD file is
          identified in the previous EFI segment. This information is
          organised hierarchically. First, each hierarchy is
          identified, followed by the type of hierarchy.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="BII" type="Q1:Bii"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="IMD" type="Q1:Imd"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="AUT" type="Q1:Aut"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="AGR" type="Q1:Agr"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="INP" type="Q1:Inp"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DIM" type="Q1:Dim"/>
      <xsd:element form="qualified" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_7" type="condra:SegmentGroup7"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CONDRA">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" maxOccurs="5" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="AUT" type="Q1:Aut"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="AGR" type="Q1:Agr"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="10" name="Segment_group_1" type="condra:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="999" name="Segment_group_2" type="condra:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_5" type="condra:SegmentGroup5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
                This segment group will be used when a reference is
                made to another specific level in the structure of an
                engineering/CAD file.
                If in the previous RFF segment a standard dummy value
                is quoted, the level referred to is part of the
                engineering/CAD file identified in the previous EFI
                segment. If, however, in the previous RFF segment any
                other value is quoted, the level described in the
                following BII segment is part of the engineering/CAD
                file identified by the ID number.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="SEQ" type="Q1:Seq"/>
      <xsd:element form="qualified" name="BII" type="Q1:Bii"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="IMD" type="Q1:Imd"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
