d96a/jaxb/src/main/xsd/conpva/conpva.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:conpva="urn:org.milyn.edi.unedifact:un:d96a:conpva" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:conpva">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="CONPVA" type="conpva:CONPVA"/>
  <xsd:complexType name="SegmentGroup19">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 19:
             A group of segments for giving references only relevant
             to the specified party rather than the whole valuation.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
             A group of segments specifying tax related information,
             and when necessary, the location(s) to which that tax
             information relates.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup31">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 31:
             A group of segments specifying the rate per unit and
             basis to which the allowance or charge applies, e.g. The
             allowance/charge amount is 3 DEM per 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RTE" type="Q1:Rte"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup30">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 30:
             A group of segments specifying a monetary amount for an
             allowance or charge. A range to which the allowance or
             charge applies can be specified.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
                A group of segments specifying the quantity of the
                allowance or charge with its measure unit specifier. A
                range to which the allowance or charge applies may be
                specified. e.g. An allowance of a free quantity of 20
                pieces may be specified if the quantity ordered is
                greater than 1000 pieces.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup21">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 21:
             A group of segments giving contact details of the
             specific person or department within the party identified
             in the NAD segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup29">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 29:
             A group of segments specifying the percentage for the
             allowance or charge, e.g. The allowance/charge amount is
             calculated as 5% of the goods value or a price reduction
             of 5% may be specified if the goods quantity ordered is
             within the range 5 tons to 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
          A group of segments to convey the financial amounts related
          to the group of items referred to in BII and their relevant
          taxes and if necessary the details of their computation.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ARD" type="Q1:Ard"/>
      <xsd:element form="qualified" maxOccurs="6" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_11" type="conpva:SegmentGroup11"/>
      <xsd:element form="qualified" maxOccurs="20" minOccurs="0" name="Segment_group_12" type="conpva:SegmentGroup12"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments identifying the parties with associated
       information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_3" type="conpva:SegmentGroup3"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_4" type="conpva:SegmentGroup4"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_5" type="conpva:SegmentGroup5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup24">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 24:
             A group of segments to record the description line
             details together with text reference numbers and change
             action codes used to identify who is authorised to apply
             changes.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="IMD" type="Q1:Imd"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="GIS" type="Q1:Gis"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup16">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 16:
                A group of segments specifying the rate per unit and
                basis to which the allowance or charge applies, e.g.
                The allowance/charge amount is 3 DEM per 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RTE" type="Q1:Rte"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
             A group of segments specifying allowances and charges for
             the group of items referred to in BII. The allowance or
             charge specified within this Segment group may either
             relate to the group of items referred to in BII in which
             case it cannot be overridden at item level, or it can
             relate to the line items as a default allowance/charge
             and can be overridden by the ALC Segment group within the
             item section. Where relevant, additional information, tax
             and alternate currency details are to be indicated in the
             TAX and MOA segments. The basis for the calculation of
             the allowance/charge may be a quantity, a percentage, an
             amount or a rate and one of the Segment group 13-16
             should be used accordingly.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_13" type="conpva:SegmentGroup13"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_14" type="conpva:SegmentGroup14"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_15" type="conpva:SegmentGroup15"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_16" type="conpva:SegmentGroup16"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_17" type="conpva:SegmentGroup17"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
                A group of segments specifying a monetary amount for
                an allowance or charge. A range to which the allowance
                or charge applies can be specified.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
       A group of segments to indicate: - the financial total amounts
       of the valuation or parts of it - conditions of payments -
       conditions of allowances and charges, bonuses and penalties -
       the total amounts to be paid directly to subcontractors
       (request or confirmation).</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="BII" type="Q1:Bii"/>
      <xsd:element form="qualified" minOccurs="0" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" minOccurs="0" name="PAI" type="Q1:Pai"/>
      <xsd:element form="qualified" minOccurs="0" name="PAT" type="Q1:Pat"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_9" type="conpva:SegmentGroup9"/>
      <xsd:element form="qualified" maxOccurs="100" name="Segment_group_10" type="conpva:SegmentGroup10"/>
      <xsd:element form="qualified" maxOccurs="20" minOccurs="0" name="Segment_group_18" type="conpva:SegmentGroup18"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
       A group of segments specifying the currencies and related
       dates/periods valid for the whole valuation. Currency data may
       be omitted in national applications but will be required for
       international transactions.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup20">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 20:
             A group of segments identifying the documentary
             requirements of the specified party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
          A group of segments for giving references only relevant to
          the specified party rather than the whole valuation.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup23">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 23:
          A group of segments to record descriptive text for items
          that are added into existing groups during the completion of
          the works, e.g. dayworks.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LIN" type="Q1:Lin"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="Segment_group_24" type="conpva:SegmentGroup24"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
          A group of segments to convey the results of the computation
          of the fluctuation formulas and the relevant dates/periods.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="APR" type="Q1:Apr"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
       A group of segments to convey the new fluctuation indices
       values.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="IND" type="Q1:Ind"/>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup27">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 27:
          A group of segments specifying allowances and charges for
          the item referred to in BII where this is different to or
          not specified within the group of items to which it belongs.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_28" type="conpva:SegmentGroup28"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_29" type="conpva:SegmentGroup29"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_30" type="conpva:SegmentGroup30"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_31" type="conpva:SegmentGroup31"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_32" type="conpva:SegmentGroup32"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup28">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 28:
             A group of segments specifying the quantity of the
             allowance or charge with its measure unit specifier. A
             range to which the allowance or charge applies may be
             specified. e.g. An allowance of a free quantity of 20
             pieces may be specified if the quantity ordered is
             greater than 1000 pieces.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup18">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 18:
          A group of segments identifying the parties with associated
          information for the group of items referred to in BII.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_19" type="conpva:SegmentGroup19"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_20" type="conpva:SegmentGroup20"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_21" type="conpva:SegmentGroup21"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
                A group of segments specifying the percentage for the
                allowance or charge, e.g. The allowance/charge amount
                is calculated as 5% of the goods value or a price
                reduction of 5% may be specified if the goods quantity
                ordered is within the range 5 tons to 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup22">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 22:
       A group of segments providing the quantities and the
       corresponding prices of the works performed for each item, or
       group of items.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="BII" type="Q1:Bii"/>
      <xsd:element form="qualified" minOccurs="0" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="6" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="PRI" type="Q1:Pri"/>
      <xsd:element form="qualified" maxOccurs="6" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="100" name="Segment_group_23" type="conpva:SegmentGroup23"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_25" type="conpva:SegmentGroup25"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_26" type="conpva:SegmentGroup26"/>
      <xsd:element form="qualified" maxOccurs="20" minOccurs="0" name="Segment_group_27" type="conpva:SegmentGroup27"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup32">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 32:
             A group of segments specifying tax related information
             for the allowance or charge and, when necessary, the
             location(s) to which that tax information relates.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CONPVA">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" maxOccurs="9" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="AUT" type="Q1:Aut"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_1" type="conpva:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="9" name="Segment_group_2" type="conpva:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_6" type="conpva:SegmentGroup6"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_7" type="conpva:SegmentGroup7"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="Segment_group_8" type="conpva:SegmentGroup8"/>
      <xsd:element form="qualified" name="UNS_-_-1" type="Q1:Uns"/>
      <xsd:element form="qualified" maxOccurs="9999" name="Segment_group_22" type="conpva:SegmentGroup22"/>
      <xsd:element form="qualified" name="UNS_-_-2" type="Q1:Uns"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_33" type="conpva:SegmentGroup33"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="CNT" type="Q1:Cnt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup17">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 17:
                A group of segments specifying tax related information
                for the allowance or charge and, when necessary, the
                location(s) to which that tax information relates.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
          A group of segments identifying the documentary requirements
          of the specified party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup33">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 33:
       A group of segments specifying taxes totals for the valuation.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments for quoting references and their relevant
       dates that are applicable to the message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup26">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 26:
          A group of segments specifying tax related information for
          this item when it is specific to this item or different from
          the group to which it belongs, and when necessary, the
          location(s) to which that tax information relates.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup25">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 25:
          A group of segments to convey the results of the computation
          of the fluctuation formulas and the relevant dates/periods
          for this item when it is different from the group to which
          this item belongs.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="APR" type="Q1:Apr"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
          A group of segments giving contact details of the specific
          person or department within the party identified in the NAD
          segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
