d96a/jaxb/src/main/xsds/conten.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:conten="urn:org.milyn.edi.unedifact:un:d96a:conten" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:conten">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="CONTEN" type="conten:CONTEN"/>
  <xsd:complexType name="SegmentGroup27">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 27:
          This segment group is used to record the complex range of
          quantity values and prices that apply to an item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" minOccurs="0" name="APR" type="Q1:Apr"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="Segment_group_28" type="conten:SegmentGroup28"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
             Where specific tax rules apply to the entire project or a
             grouping within the project they will be recorded in this
             segment group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
             A group of segments to specify the remaining components
             of the price fluctuation calculation.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup33">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 33:
             A group of segments to specify the remaining components
             of the price fluctuation calculation.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup22">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 22:
                         SG32-SG34
       A group of segments recording all the details that apply to an
       item. There can be many items within a project, details of all
       items, regardless of where they appear in the BoQ will be
       recorded in this segment group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="BII" type="Q1:Bii"/>
      <xsd:element form="qualified" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="10" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_23" type="conten:SegmentGroup23"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_24" type="conten:SegmentGroup24"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_25" type="conten:SegmentGroup25"/>
      <xsd:element form="qualified" maxOccurs="1000" name="Segment_group_27" type="conten:SegmentGroup27"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_30" type="conten:SegmentGroup30"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_31" type="conten:SegmentGroup31"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_32" type="conten:SegmentGroup32"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_34" type="conten:SegmentGroup34"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
          This segment group is used to record, in textual form, any
          terms and conditions that are deemed to apply to part or all
          of the group of items.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" name="BII" type="Q1:Bii"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
          Details of which currency rules apply to this group of
          items.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments to record both the structure and contents
       of the indexing used for the BoQ document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="IND" type="Q1:Ind"/>
      <xsd:element form="qualified" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" name="Segment_group_2" type="conten:SegmentGroup2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup34">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 34:
          A segment group to record where necessary alternative index
          information for an item. The validity of an alternative
          index would be defined in the Segment Group 3 IMD.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="IMD" type="Q1:Imd"/>
      <xsd:element form="qualified" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="PRI" type="Q1:Pri"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CONTEN">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="AUT" type="Q1:Aut"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="AGR" type="Q1:Agr"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="Segment_group_1" type="conten:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="Segment_group_4" type="conten:SegmentGroup4"/>
      <xsd:element form="qualified" name="UNS" type="Q1:Uns"/>
      <xsd:element form="qualified" maxOccurs="1000" name="Segment_group_22" type="conten:SegmentGroup22"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="CNT" type="Q1:Cnt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup23">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 23:
          A group of segments recording additional reference
          information against an item of work.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup30">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 30:
          A group of segments in which is detailed taxation
          information, which applies to the item . There are often
          several different types of tax which need to be applied.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup20">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 20:
             This segment group is used to identify documentation
             related specifically to the party being defined.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
                         SG6-SG7-SG9-SG10-SG18
       This information is subordinate to the data provided within the
       header section and relates to groups of work items as described
       in section 1.3.1 of this document. A segment group recording
       all the details that apply to a group of items. There can be
       many "Groups of items" within a project and all are to be
       recorded within this part of the message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="BII" type="Q1:Bii"/>
      <xsd:element form="qualified" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="10" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="APR" type="Q1:Apr"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="RTE" type="Q1:Rte"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_5" type="conten:SegmentGroup5"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_6" type="conten:SegmentGroup6"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_7" type="conten:SegmentGroup7"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_9" type="conten:SegmentGroup9"/>
      <xsd:element form="qualified" maxOccurs="100" name="Segment_group_10" type="conten:SegmentGroup10"/>
      <xsd:element form="qualified" maxOccurs="20" minOccurs="0" name="Segment_group_18" type="conten:SegmentGroup18"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
                Components of a financial value expressed in terms of
                quantities are recorded in this segment group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup26">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 26:
             A group of segments to record the description line
             details together with text reference numbers and change
             action codes used to identify who is authorised to apply
             changes.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="IMD" type="Q1:Imd"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="GIS" type="Q1:Gis"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup19">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 19:
             This group of segments will record unique reference
             numbers by which the party will be known and referenced.
             This will ensure that each party is uniquely identified
             even if there is more than one party with a similar
             qualifier.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup29">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 29:
                A group of segments to record the monetary amounts ,
                currency, tax details resulting from the
                multiplication of QTY and PRI values.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ARD" type="Q1:Ard"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
          A group of segments used to convey details of the price
          fluctuation calculations to be applied.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="20" minOccurs="0" name="Segment_group_8" type="conten:SegmentGroup8"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
          A group of segments to specify the position and detailed
          component parts of the index information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" name="Segment_group_3" type="conten:SegmentGroup3"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
                Any components of a monetary amount that are
                themselves expressed as monetary amounts are recorded
                in this segment group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup16">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 16:
                Components of a financial value expressed in terms of
                a rate are recorded in this segment group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RTE" type="Q1:Rte"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup17">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 17:
                Components of a financial value expressed in terms of
                a tax or duty are recorded in this segment group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
             A group of segments to specify the detailed components of
             the index information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="BII" type="Q1:Bii"/>
      <xsd:element form="qualified" maxOccurs="9" name="IMD" type="Q1:Imd"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
          This segment group is used to record any financial values
          that apply for a group of items. There are considerable
          number of different values and qualifiers that will apply.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ARD" type="Q1:Ard"/>
      <xsd:element form="qualified" maxOccurs="6" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_11" type="conten:SegmentGroup11"/>
      <xsd:element form="qualified" maxOccurs="15" minOccurs="0" name="Segment_group_12" type="conten:SegmentGroup12"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup32">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 32:
          A group of segments used to convey details of the price
          fluctuation calculations to be applied to the item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="20" minOccurs="0" name="Segment_group_33" type="conten:SegmentGroup33"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup28">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 28:
             A group of segments to record a series of prices and
             monetary amounts relating to each QTY value.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PRI" type="Q1:Pri"/>
      <xsd:element form="qualified" maxOccurs="3" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_29" type="conten:SegmentGroup29"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
                Components of a financial value expressed in terms of
                a percentage are recorded in this segment group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup18">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 18:
          Name and address information relating to Parties, Banks and
          Contacts are recorded in this segment group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_19" type="conten:SegmentGroup19"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_20" type="conten:SegmentGroup20"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_21" type="conten:SegmentGroup21"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
             Where it is necessary to express the components that
             contribute to a monetary value this segment group will be
             used.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_13" type="conten:SegmentGroup13"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_14" type="conten:SegmentGroup14"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_15" type="conten:SegmentGroup15"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_16" type="conten:SegmentGroup16"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_17" type="conten:SegmentGroup17"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup21">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 21:
             The information about who to contact within each of the
             parties detailed in this segment group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup24">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 24:
          A group of segments which may be used where Segment Group 23
          refers to a sub-item number. It would contain sets of
          dimension details to further describe the quantities.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DIM" type="Q1:Dim"/>
      <xsd:element form="qualified" minOccurs="0" name="APR" type="Q1:Apr"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
          Some base data about how the information for this group of
          items was compiled. It will identify the standard method
          conventions adopted, the author of the data and it will also
          refer to any "request for quotation" messages that are to be
          read in conjunction .</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup31">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 31:
          Where it is necessary to record a relationship about the
          current item and it's association with another item, this
          segment group will be used.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" name="BII" type="Q1:Bii"/>
      <xsd:element form="qualified" name="GIS" type="Q1:Gis"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup25">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 25:
          A group of segments to record descriptive text for items and
          headings for groupings of items.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LIN" type="Q1:Lin"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="Segment_group_26" type="conten:SegmentGroup26"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
