d96a/jaxb/src/main/xsds/cusdec.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:cusdec="urn:org.milyn.edi.unedifact:un:d96a:cusdec" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:cusdec">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="CUSDEC" type="cusdec:CUSDEC"/>
  <xsd:complexType name="SegmentGroup40">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 40:
          A group of segments identifying special indicators or value
          data related to the customs item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup28">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 28:
             A group of segments identifying the number, type,
             contents and description of the packing units associated
             with the commercial document line.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAC" type="Q1:Pac"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_29" type="cusdec:SegmentGroup29"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup37">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 37:
          A group of segments identifying report documentary
          requirements of particular government agencies, with the
          optional name and address of the agency involved.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="NAD" type="Q1:Nad"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup17">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 17:
             A group of segments identifying marks and labels of
             shipping units associated with the whole commercial
             document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCI" type="Q1:Pci"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup34">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 34:
             A group of segments identifying currencies, a rate of
             exchange and an associated date related to the preceding
             MOA.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
       A group of segments identifying the mode, means and
       identification of the transport used.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TDT" type="Q1:Tdt"/>
      <xsd:element form="qualified" minOccurs="0" name="TPL" type="Q1:Tpl"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup32">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 32:
             A group of segments identifying marks and labels, and
             giving the description of single packages associated with
             a customs item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCI" type="Q1:Pci"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
       A group of segments identifying the terms of delivery pertinent
       to the entire message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TOD" type="Q1:Tod"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
          A group of segments identifying currencies, a rate of
          exchange and a related date for a monetary amount identified
          within this group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup24">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 24:
                A group of segments identifying currencies, rates of
                exchange and associated dates for an allowance,
                charge, or adjustment reported in the preceding ALC.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup26">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 26:
             A group of segments identifying the payment terms for a
             commercial document line.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAT" type="Q1:Pat"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
       A group of segments identifying documentary requirements where
       they are needed as supporting information for the entire
       message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup47">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 47:
             A group of segments identifying the duties, taxes, and/or
             fees pertinent to the tariff number reported in the GIR
             segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="GIS" type="Q1:Gis"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
          A group of segments identifying the terms of delivery
          pertinent to the whole commercial document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TOD" type="Q1:Tod"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup49">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 49:
       A segment identifying the totals and duty/tax/fee levels due
       for the declaration and summarizing this total by each
       accounting code included in the total due.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="GIS" type="Q1:Gis"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup39">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 39:
          A group of segments identifying the customs description of
          merchandise entered on a customs item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GDS" type="Q1:Gds"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
       A group of segments identifying monetary amounts, currencies
       and their exchange rates, when required for the whole
       declaration.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_9" type="cusdec:SegmentGroup9"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup22">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 22:
             A group of segments identifying customs documentary
             requirements for a commercial document line item. For
             example, an import or export license.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
             A group of segments identifying currencies, rate of
             exchange and an associated date.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments identifying various references, manifest
       quantities and package identities relevant to the whole
       message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_2" type="cusdec:SegmentGroup2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
       A group of segments identifying the parties relevant to the
       whole message, with their related references, contacts, and
       communication numbers.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup19">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 19:
          A group of segments identifying allowances, charges, or
          adjustments and related details for the whole commercial
          document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" minOccurs="0" name="RTE" type="Q1:Rte"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_20" type="cusdec:SegmentGroup20"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
          A group of segments identifying various monetary amounts,
          currencies and rates of exchange that pertain to the whole
          commercial document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_12" type="cusdec:SegmentGroup12"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup50">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 50:
       A group of segments permitting the verification of the
       authenticity of the sender and the integrity of the data.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="AUT" type="Q1:Aut"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup38">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 38:
          A group of segments identifying the terms of delivery
          pertinent to a customs item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TOD" type="Q1:Tod"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup33">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 33:
          A group of segments identifying various monetary amounts,
          currencies and rates of exchange that pertain to the customs
          item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_34" type="cusdec:SegmentGroup34"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup20">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 20:
             A group of segments identifying currencies, a rate of
             exchange, and an associated date for an allowance, charge
             or adjustment reported in the preceding ALC segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup30">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 30:
                         SG37-SG38-SG39-SG40-SG41-SG42-SG44
       A group of segments identifying detailed information for a
       single customs item of a customs declaration.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CST" type="Q1:Cst"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="20" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="TDT" type="Q1:Tdt"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_31" type="cusdec:SegmentGroup31"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="Segment_group_33" type="cusdec:SegmentGroup33"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_35" type="cusdec:SegmentGroup35"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="Segment_group_37" type="cusdec:SegmentGroup37"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_38" type="cusdec:SegmentGroup38"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_39" type="cusdec:SegmentGroup39"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="Segment_group_40" type="cusdec:SegmentGroup40"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_41" type="cusdec:SegmentGroup41"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_42" type="cusdec:SegmentGroup42"/>
      <xsd:element form="qualified" maxOccurs="50" minOccurs="0" name="Segment_group_44" type="cusdec:SegmentGroup44"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
             A group of segments identifying markings and labels on
             manifested units.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCI" type="Q1:Pci"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup18">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 18:
          A group of segments identifying the payment terms for the
          whole commercial document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAT" type="Q1:Pat"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
             A segment identifying other documentary requirements
             associated with a party identified in the preceding NAD
             segment. For example, purchase order, contract number,
             etc.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
                         SG21
       A group of segments identifying line item details for a
       commercial document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DMS" type="Q1:Dms"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="Segment_group_11" type="cusdec:SegmentGroup11"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_13" type="cusdec:SegmentGroup13"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_14" type="cusdec:SegmentGroup14"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_16" type="cusdec:SegmentGroup16"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_18" type="cusdec:SegmentGroup18"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_19" type="cusdec:SegmentGroup19"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_21" type="cusdec:SegmentGroup21"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup21">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 21:
                            SG22-SG23-SG25-SG26-SG27-SG28
          A group of segments identifying line item details for a
          commercial document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LIN" type="Q1:Lin"/>
      <xsd:element form="qualified" minOccurs="0" name="PIA" type="Q1:Pia"/>
      <xsd:element form="qualified" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="PRI" type="Q1:Pri"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="QVR" type="Q1:Qvr"/>
      <xsd:element form="qualified" maxOccurs="15" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="GIR" type="Q1:Gir"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_22" type="cusdec:SegmentGroup22"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_23" type="cusdec:SegmentGroup23"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_25" type="cusdec:SegmentGroup25"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_26" type="cusdec:SegmentGroup26"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_27" type="cusdec:SegmentGroup27"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_28" type="cusdec:SegmentGroup28"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
          A group of segment identifying the numbers of, the types of,
          and the markings individual packages.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAC" type="Q1:Pac"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_3" type="cusdec:SegmentGroup3"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup29">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 29:
                A group of segments identifying marks, labels and
                description of packages relating to a document line.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCI" type="Q1:Pci"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup27">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 27:
             A group of segments identifying a commercial description
             for a documented commodity that is associated with this
             Customs, item line.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="IMD" type="Q1:Imd"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup25">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 25:
             A group of segments identifying the terms of delivery
             pertinent to a commercial document line.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TOD" type="Q1:Tod"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup42">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 42:
          A group of segments identifying variances between the
          quantity commercially documented and/or produced to Customs
          and the quantity declared.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="QVR" type="Q1:Qvr"/>
      <xsd:element form="qualified" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_43" type="cusdec:SegmentGroup43"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup44">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 44:
          A group of segments identifying customs reporting
          requirements associated with a secondary tariff number.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIR" type="Q1:Gir"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_45" type="cusdec:SegmentGroup45"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_47" type="cusdec:SegmentGroup47"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_48" type="cusdec:SegmentGroup48"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup45">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 45:
             A group of segments identifying various monetary amounts,
             currencies and rates of exchange that pertain to a
             secondary tariff number within a customs item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_46" type="cusdec:SegmentGroup46"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup46">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 46:
                A group of segments identifying currencies, a rate of
                exchange and related date for an amount reported in
                the preceding MOA.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup43">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 43:
             A group of segments identifying an earlier customs
             declaration in order to balance the total quantity
             declared with the total quantity presented to Customs.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
          A group of segments identifying the parties and other
          related documentary requirements associated with the whole
          commercial document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_15" type="cusdec:SegmentGroup15"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup23">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 23:
             A group of segments identifying allowances, charges, or
             adjustments and related details for the commercial
             document line.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" minOccurs="0" name="RTE" type="Q1:Rte"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_24" type="cusdec:SegmentGroup24"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup36">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 36:
             A group of segments identifying a commercial description
             for a documented commodity that is associated with this
             customs line item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="IMD" type="Q1:Imd"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup35">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 35:
          A group of segments identifying references, descriptions,
          and monetary amounts associated with a customs item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="GIN" type="Q1:Gin"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_36" type="cusdec:SegmentGroup36"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup41">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 41:
          A group of segments identifying duties/taxes/fees and
          methods of payment related to a customs item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="GIS" type="Q1:Gis"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup48">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 48:
             A group of segments identifying specific documentary
             information which may be required by the tariff number in
             the GIR segment. For example, a textile category number.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CUSDEC">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" minOccurs="0" name="CST" type="Q1:Cst"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="15" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" minOccurs="0" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="EQD" type="Q1:Eqd"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="SEL" type="Q1:Sel"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_1" type="cusdec:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_4" type="cusdec:SegmentGroup4"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_5" type="cusdec:SegmentGroup5"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_6" type="cusdec:SegmentGroup6"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_7" type="cusdec:SegmentGroup7"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="Segment_group_8" type="cusdec:SegmentGroup8"/>
      <xsd:element form="qualified" name="UNS_-_-1" type="Q1:Uns"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_10" type="cusdec:SegmentGroup10"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_30" type="cusdec:SegmentGroup30"/>
      <xsd:element form="qualified" name="UNS_-_-2" type="Q1:Uns"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="CNT" type="Q1:Cnt"/>
      <xsd:element form="qualified" maxOccurs="50" minOccurs="0" name="Segment_group_49" type="cusdec:SegmentGroup49"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_50" type="cusdec:SegmentGroup50"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup16">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 16:
          A group of segments identifying the number, type, and
          contents of the shipping units associated with the entire
          commercial document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAC" type="Q1:Pac"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_17" type="cusdec:SegmentGroup17"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup31">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 31:
          A group of segments identifying the number, type and
          reference of the packing units associated with the customs
          item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAC" type="Q1:Pac"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_32" type="cusdec:SegmentGroup32"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
