d96a/jaxb/src/main/xsds/dirdeb.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:dirdeb="urn:org.milyn.edi.unedifact:un:d96a:dirdeb" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:dirdeb">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="DIRDEB" type="dirdeb:DIRDEB"/>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
          A group of segments providing information for subsequent use
          by regulatory authorities requiring statistical and other
          types of data. It also identifies the regulatory authority
          for which the information is intended followed by the
          information itself. 
          This group is mutually exclusive with Segment Group 15.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup24">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 24:
       A group of segments specifying details of any authentication
       (validation) procedures applied to the DIRDEB message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="AUT" type="Q1:Aut"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
             A group of segments providing information for subsequent
             use by regulatory authorities requiring statistical and
             other types of data. It also identifies the regulatory
             authority for which the information is intended followed
             by the information itself.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
                         SG11
       A group of segments containing information regarding the credit
       side of the transaction and details which are pertinent to all
       direct debits specified within the group. Certain payment
       details may be provided either in segment group 4 or in segment
       group 11, but not in both.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LIN" type="Q1:Lin"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="BUS" type="Q1:Bus"/>
      <xsd:element form="qualified" minOccurs="0" name="FCA" type="Q1:Fca"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_5" type="dirdeb:SegmentGroup5"/>
      <xsd:element form="qualified" name="Segment_group_6" type="dirdeb:SegmentGroup6"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="Segment_group_7" type="dirdeb:SegmentGroup7"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_8" type="dirdeb:SegmentGroup8"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_9" type="dirdeb:SegmentGroup9"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_10" type="dirdeb:SegmentGroup10"/>
      <xsd:element form="qualified" maxOccurs="9999" name="Segment_group_11" type="dirdeb:SegmentGroup11"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
             A group of segments containing the debtor's bank and the
             account and if necessary up to two intermediary banks.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup20">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 20:
                   A group of segments which may be used when required
                   to provide details of individual line items in the
                   reference document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DLI" type="Q1:Dli"/>
      <xsd:element form="qualified" maxOccurs="5" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="PIA" type="Q1:Pia"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_21" type="dirdeb:SegmentGroup21"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_22" type="dirdeb:SegmentGroup22"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup23">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 23:
                A group of segments indicating the end of the details
                of payment and specifying hash total amounts for
                control purposes.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
          A group of segments giving information in free form about
          the purpose of the direct debit from the creditor to the
          debtors.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PRC" type="Q1:Prc"/>
      <xsd:element form="qualified" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup22">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 22:
                      A group of segments indicating adjustment
                      amounts and their reference documents.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="AJT" type="Q1:Ajt"/>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup17">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 17:
                A group of segments providing details of all documents
                e.g., invoices, statements, despatch advices, etc., to
                which the direct debit refers. It includes information
                on the monetary amounts for each document and on any
                adjustments (with an indication of the reason for
                adjustments) and discounts. For information purposes
                an indication of the tax element can be provided.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_18" type="dirdeb:SegmentGroup18"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_19" type="dirdeb:SegmentGroup19"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="Segment_group_20" type="dirdeb:SegmentGroup20"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
             A group of segments containing instructions from the
             creditor relating to parties identified in the NAD and
             FII segments. It specifies action to be taken by the
             identified parties, and the date (and optionally time) by
             which such actions needs to be taken.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="INP" type="Q1:Inp"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
                            SG15-SG16
          This Segment Group contains information regarding the
          debtor(s) of the direct debit. Certain payment details may
          be provided either in Segment Group 11 or in Segment Group
          4, but not in both.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="SEQ" type="Q1:Seq"/>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="PAI" type="Q1:Pai"/>
      <xsd:element form="qualified" minOccurs="0" name="FCA" type="Q1:Fca"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="Segment_group_12" type="dirdeb:SegmentGroup12"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="Segment_group_13" type="dirdeb:SegmentGroup13"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="Segment_group_14" type="dirdeb:SegmentGroup14"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_15" type="dirdeb:SegmentGroup15"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_16" type="dirdeb:SegmentGroup16"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
          A group of segments containing the account servicing bank
          including the account to be credited. If the creditor is not
          quoted separately in the NAD segment on the credit side of
          the transaction (B level), then this group also contains the
          information of the creditor.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
          A group of segments containing the currency of the single
          amounts on the debit side of the transaction (C level),
          currency to be collected, plus the total of all single
          amounts of the debit side of the transaction (C level).</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
             A group of segments identifying the name and address of
             the debtor and one contact party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DIRDEB">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="BUS" type="Q1:Bus"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_1" type="dirdeb:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_2" type="dirdeb:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="Segment_group_3" type="dirdeb:SegmentGroup3"/>
      <xsd:element form="qualified" maxOccurs="9999" name="Segment_group_4" type="dirdeb:SegmentGroup4"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="CNT" type="Q1:Cnt"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_24" type="dirdeb:SegmentGroup24"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup21">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 21:
                      A group of segments specifying the currencies
                      and the related dates/periods valid to the
                      referenced document where different to the
                      reference currency.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments identifying the financial institutions
       involved in the direct debit, their functions and their
       contacts.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup16">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 16:
             A group of segments containing the details of the direct
             debit. The content of these segments is passed through
             the banking chain from the creditor to the debtor.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PRC" type="Q1:Prc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_17" type="dirdeb:SegmentGroup17"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_23" type="dirdeb:SegmentGroup23"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
          A group of segments containing instructions from the
          creditor relating to parties identified in the NAD and FII
          segments. It specifies action to be taken by the identified
          parties, and the date (and optionally time) by which such
          action needs to be taken.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="INP" type="Q1:Inp"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments identifying a previously sent message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
          A group of segments identifying the creditor. Furthermore,
          one contact party can also be quoted in this group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup18">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 18:
                   A group of segments specifying the currencies and
                   the related dates/periods valid to the referenced
                   document where different to the reference currency.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
       A group of segments identifying the name(s) and address(es) of
       each non-financial party involved in the transaction, their
       functions and their contacts.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup19">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 19:
                   A group of segments indicating adjustment amounts
                   and their referenced documents.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="AJT" type="Q1:Ajt"/>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
