d96a/jaxb/src/main/xsds/iftmbf.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:iftmbf="urn:org.milyn.edi.unedifact:un:d96a:iftmbf" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:iftmbf">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="IFTMBF" type="iftmbf:IFTMBF"/>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments to specify terms of delivery and related
       locations.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TOD" type="Q1:Tod"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
       A group of segments to identify a party, related references,
       locations contacts, required documents, and charges to be paid
       by the party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_11" type="iftmbf:SegmentGroup11"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_12" type="iftmbf:SegmentGroup12"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_13" type="iftmbf:SegmentGroup13"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_14" type="iftmbf:SegmentGroup14"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_15" type="iftmbf:SegmentGroup15"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
          A group of segments to specify a location and date/time
          related to this leg of transport.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup34">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 34:
             A group of segments to identify a contact and its
             communications related to the party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
          A group of segments to specify a reference related to the
          party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
          A group of segments to identify required documents.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
       A group of segments containing a reference and constants which
       apply to the entire message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup24">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 24:
             A group of segments to identify measurements.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup19">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 19:
          A group of segments to specify dimensions applicable to a
          goods item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DIM" type="Q1:Dim"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup32">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 32:
       A group of segments to specify equipment in which goods are
       transported.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="EQD" type="Q1:Eqd"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
      <xsd:element form="qualified" minOccurs="0" name="TMD" type="Q1:Tmd"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DIM" type="Q1:Dim"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="TPL" type="Q1:Tpl"/>
      <xsd:element form="qualified" minOccurs="0" name="HAN" type="Q1:Han"/>
      <xsd:element form="qualified" minOccurs="0" name="TMP" type="Q1:Tmp"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_33" type="iftmbf:SegmentGroup33"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup30">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 30:
             A group of segments to specify the distribution of the
             dangerous goods among the transport equipment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="SGP" type="Q1:Sgp"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_31" type="iftmbf:SegmentGroup31"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
       A group of segments to indicate details of the movement of
       goods such as mode and means of transport, locations,
       departure, and arrival date(s) and time(s).</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TDT" type="Q1:Tdt"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="TSR" type="Q1:Tsr"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_8" type="iftmbf:SegmentGroup8"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_9" type="iftmbf:SegmentGroup9"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup23">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 23:
          A group of segments to identify transport details and
          associated measurements for a goods item. This group may be
          repeated to indicate the different phases of the movement.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TPL" type="Q1:Tpl"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_24" type="iftmbf:SegmentGroup24"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup31">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 31:
                A group of segments to identify dangerous goods
                measurements.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IFTMBF">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="COM" type="Q1:Com"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="TSR" type="Q1:Tsr"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="CNT" type="Q1:Cnt"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_1" type="iftmbf:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_2" type="iftmbf:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_3" type="iftmbf:SegmentGroup3"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_4" type="iftmbf:SegmentGroup4"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_6" type="iftmbf:SegmentGroup6"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_7" type="iftmbf:SegmentGroup7"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_10" type="iftmbf:SegmentGroup10"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_16" type="iftmbf:SegmentGroup16"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_32" type="iftmbf:SegmentGroup32"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
          A group of segments to specify a transport service
          requirement and its associated details (such as applicable
          commercial agreement) related to the party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TSR" type="Q1:Tsr"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="TPL" type="Q1:Tpl"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup18">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 18:
          A group of segments to specify measurements applicable to a
          goods item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
          A group of segments identifying a contact and its
          communications related to the party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
          A group of segments to identify the charge and its amount to
          be paid by the party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CPI" type="Q1:Cpi"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup17">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 17:
          A group of segments to identify different places of
          collection and/or delivery for the goods item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup21">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 21:
          A group of segments to specify marks and numbers of a goods
          item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCI" type="Q1:Pci"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="GIN" type="Q1:Gin"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup26">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 26:
             A group of segments to identify measurements.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup29">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 29:
             A group of segments to identify dangerous goods
             measurements.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
          A group of segments to specify required documents by
          government.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup16">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 16:
                         SG18-SG19-SG20-SG21-SG22-SG23-SG25-SG27
       A group of segments to describe the goods items for which
       transport is undertaken.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GID" type="Q1:Gid"/>
      <xsd:element form="qualified" minOccurs="0" name="HAN" type="Q1:Han"/>
      <xsd:element form="qualified" minOccurs="0" name="TMP" type="Q1:Tmp"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
      <xsd:element form="qualified" minOccurs="0" name="TMD" type="Q1:Tmd"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="PIA" type="Q1:Pia"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_17" type="iftmbf:SegmentGroup17"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="GDS" type="Q1:Gds"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_18" type="iftmbf:SegmentGroup18"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_19" type="iftmbf:SegmentGroup19"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_20" type="iftmbf:SegmentGroup20"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_21" type="iftmbf:SegmentGroup21"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_22" type="iftmbf:SegmentGroup22"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_23" type="iftmbf:SegmentGroup23"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_25" type="iftmbf:SegmentGroup25"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_27" type="iftmbf:SegmentGroup27"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup20">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 20:
          A group of segments to identify references to a goods item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup22">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 22:
          A group of segments to specify documents and associated
          date(s) and time(s) for a goods item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup28">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 28:
             A group of segments to identify a contact to whom
             communication regarding the dangerous goods can be
             directed.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup25">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 25:
          A group of segments to specify the distribution of a goods
          item among the transport equipment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="SGP" type="Q1:Sgp"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_26" type="iftmbf:SegmentGroup26"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
       A group of segments to identify customs and other governmental
       procedures and required documents.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GOR" type="Q1:Gor"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_5" type="iftmbf:SegmentGroup5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments to specify locations and related
       date(s)/time(s) which apply to the entire message, e.g. place
       of transhipment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup27">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 27:
          A group of segments to specify dangerous goods details
          related to the goods item. One goods item may be in
          different dangerous goods classes.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DGS" type="Q1:Dgs"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_28" type="iftmbf:SegmentGroup28"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_29" type="iftmbf:SegmentGroup29"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_30" type="iftmbf:SegmentGroup30"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
       A group of segments to specify charge calculations associated
       with the transport.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TCC" type="Q1:Tcc"/>
      <xsd:element form="qualified" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" minOccurs="0" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="PRI" type="Q1:Pri"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="QTY" type="Q1:Qty"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup33">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 33:
          A group of segments to identify different equipment pick-up
          or drop-off places.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_34" type="iftmbf:SegmentGroup34"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
          A group of segments to specify an additional reference
          related to the stage of the transport.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
