d96a/jaxb/src/main/xsds/invoic.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:invoic="urn:org.milyn.edi.unedifact:un:d96a:invoic" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:invoic">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="INVOIC" type="invoic:INVOIC"/>
  <xsd:complexType name="SegmentGroup16">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 16:
          A group of segment for giving references and where
          necessary, their dates relating to the allowances or
          charges.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
          A group of segments giving contact details of the specific
          person or department within the party identified in the NAD
          segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup34">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 34:
          A group of segments identifying the parties with associated
          information, relevant to the line item only.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_35" type="invoic:SegmentGroup35"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_36" type="invoic:SegmentGroup36"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_37" type="invoic:SegmentGroup37"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup32">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 32:
          A group of segments specifying destination and quantity
          details for consignments involving multi-destination
          deliveries for a specified line item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup30">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 30:
          A group of segments identifying the packaging, physical
          dimensions, and marks and numbers for goods referenced in
          the line item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAC" type="Q1:Pac"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_31" type="invoic:SegmentGroup31"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments for giving references and where necessary,
       their dates, relating to the whole message, e.g. contract
       number, import/export license number, despatch advice number.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup43">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 43:
             A group of segments specifying tax related information
             for the allowance or charge and, when necessary.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup47">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 47:
          A group of segments identifying for the line item - where
          this is different to or not specified within the Heading
          section - any rules, laws or regulations with which the
          supplier must comply to meet requirements. e.g. building
          regulations, safety requirements etc.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
       A group of segments indicating the terms of delivery for the
       whole invoice.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TOD" type="Q1:Tod"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup31">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 31:
             A group of segments specifying the markings and labels on
             individual physical units.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCI" type="Q1:Pci"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="GIN" type="Q1:Gin"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup39">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 39:
             A group of segments specifying the quantity of the
             allowance or charge with its measure unit specifier. A
             range to which the allowance or charge applies may be
             specified e.g. An allowance of a free quantity of 20
             pieces may be specified if the goods quantity ordered is
             greater than 1000 pieces.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup41">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 41:
             A group of segments specifying a monetary amount for an
             allowance or charge. A range to which the allowance or
             charge applies can be specified, e.g. an allowance of
             5000 BEF may be specified if goods value ordered is
             greater than 100000 BEF.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup25">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 25:
                         EQD-FTX-SG26-SG27-SG28-SG29-SG30-SG32-SG33-
                         SG34-SG38-SG44-SG46-SG47
       A group of segments providing details of the individual
       invoiced items. There must be at least one occurrence of
       Segment group 22 within an invoice, but not necessarily in a
       credit note or a debit note. This Segment group may be repeated
       to give sub-line details.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LIN" type="Q1:Lin"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="PIA" type="Q1:Pia"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="IMD" type="Q1:Imd"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="35" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="GIN" type="Q1:Gin"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="GIR" type="Q1:Gir"/>
      <xsd:element form="qualified" minOccurs="0" name="QVR" type="Q1:Qvr"/>
      <xsd:element form="qualified" minOccurs="0" name="EQD" type="Q1:Eqd"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_26" type="invoic:SegmentGroup26"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_27" type="invoic:SegmentGroup27"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="Segment_group_28" type="invoic:SegmentGroup28"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_29" type="invoic:SegmentGroup29"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_30" type="invoic:SegmentGroup30"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_32" type="invoic:SegmentGroup32"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_33" type="invoic:SegmentGroup33"/>
      <xsd:element form="qualified" maxOccurs="20" minOccurs="0" name="Segment_group_34" type="invoic:SegmentGroup34"/>
      <xsd:element form="qualified" maxOccurs="15" minOccurs="0" name="Segment_group_38" type="invoic:SegmentGroup38"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_44" type="invoic:SegmentGroup44"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_46" type="invoic:SegmentGroup46"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_47" type="invoic:SegmentGroup47"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup22">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 22:
       A group of segments identifying any rules, laws or regulations
       with which the supplier must comply to meet requirements e.g.
       building regulations, safety requirements, etc.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
       A group of segments specifying the terms of payment applicable
       for the whole invoice.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAT" type="Q1:Pat"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="PAI" type="Q1:Pai"/>
      <xsd:element form="qualified" minOccurs="0" name="FII" type="Q1:Fii"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup17">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 17:
          A group of segments specifying the quantity of the allowance
          or charge with its measure unit specifier. A range to which
          the allowance or charge applies may be specified e.g. An
          allowance of a free quantity of 20 pieces may be specified
          if the goods quantity ordered is greater than 1000 pieces.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
       A group of segments specifying the currencies and related
       dates/periods valid for the whole invoice. Currency data maybe
       omitted in national applications but will be required for
       international transactions.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
          A group of segments identifying the documentary requirements
          of the specified party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup36">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 36:
             A group of segments identifying the documentary
             requirements of the specified party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
       A group of segments identifying the mode and means of
       transport, location and relevant dates and times for
       transportation, relating to the whole invoice.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TDT" type="Q1:Tdt"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_10" type="invoic:SegmentGroup10"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_11" type="invoic:SegmentGroup11"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup46">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 46:
          A group of segments indicating the terms of delivery for the
          line item where this is different to or not specified within
          the heading section.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TOD" type="Q1:Tod"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
       A group of segments specifying tax related information, and
       when necessary, the location(s) to which that tax information
       relates.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup28">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 28:
          A group of segments identifying the relevant pricing
          information for the goods or services invoiced.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PRI" type="Q1:Pri"/>
      <xsd:element form="qualified" minOccurs="0" name="APR" type="Q1:Apr"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INVOIC">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" maxOccurs="35" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="PAI" type="Q1:Pai"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" minOccurs="0" name="IMD" type="Q1:Imd"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_1" type="invoic:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_2" type="invoic:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_6" type="invoic:SegmentGroup6"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_7" type="invoic:SegmentGroup7"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_8" type="invoic:SegmentGroup8"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_9" type="invoic:SegmentGroup9"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_12" type="invoic:SegmentGroup12"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="Segment_group_13" type="invoic:SegmentGroup13"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_15" type="invoic:SegmentGroup15"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_22" type="invoic:SegmentGroup22"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_23" type="invoic:SegmentGroup23"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_24" type="invoic:SegmentGroup24"/>
      <xsd:element form="qualified" maxOccurs="9999999" minOccurs="0" name="Segment_group_25" type="invoic:SegmentGroup25"/>
      <xsd:element form="qualified" name="UNS" type="Q1:Uns"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="CNT" type="Q1:Cnt"/>
      <xsd:element form="qualified" maxOccurs="100" name="Segment_group_48" type="invoic:SegmentGroup48"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_50" type="invoic:SegmentGroup50"/>
      <xsd:element form="qualified" maxOccurs="15" minOccurs="0" name="Segment_group_51" type="invoic:SegmentGroup51"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup48">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 48:
       A group of segments giving total amounts for the whole invoice
       and - if relevant -detailing amounts pre-paid with relevant
       references and
       dates-</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_49" type="invoic:SegmentGroup49"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup26">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 26:
          A group of segments specifying any monetary amounts relating
          to the products and when necessary a currency.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="CUX" type="Q1:Cux"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup21">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 21:
          A group of segments specifying tax related information for
          the allowance or charge and, when necessary.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup20">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 20:
          A group of segments specifying the rate per unit and basis
          to which the allowance or charge applies, e.g. the
          allowance/charge amount is 3 DEM per 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RTE" type="Q1:Rte"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup33">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 33:
          A group of segments specifying tax related information for
          the line item, and when necessary, the location(s) to which
          that tax information relates.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup18">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 18:
          A group of segments specifying the percentage for the
          allowance or charge, e.g. The allowance/charge amount is
          calculated as 5% of the goods value or a price reduction of
          5% may be specified if the goods quantity ordered is within
          the range 5 tons to 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup49">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 49:
          A group of segments for giving references and where
          necessary, their dates, relating e.g. amounts prepaid
          number.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup19">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 19:
          A group of segments specifying a monetary amount for an
          allowance or charge. A range to which the allowance or
          charge applies can be specified, e.g. an allowance of 5000
          BEF may be specified if goods value ordered is greater than
          100000 BEF.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup27">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 27:
          A group of segments specifying the terms of payment for the
          line item where this is different to that specified in the
          heading section.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAT" type="Q1:Pat"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup40">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 40:
             A group of segments specifying the percentage for the
             allowance or charge, e.g. The allowance/charge amount is
             calculated as 5% of the goods value or a price reduction
             of 5% may be specified if the goods quantity ordered is
             within the range 5 tons to 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup42">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 42:
             A group of segments specifying the rate per unit and
             basis to which the allowance or charge applies, e.g. The
             allowance/charge amount is 3 DEM per 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RTE" type="Q1:Rte"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments identifying the parties with associated
       information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_3" type="invoic:SegmentGroup3"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_4" type="invoic:SegmentGroup4"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_5" type="invoic:SegmentGroup5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup51">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 51:
       A group of segments specifying allowances and charges summary
       totals for the invoice.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup38">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 38:
          A group of segments specifying allowances and charges for
          the line item where this is different to or not specified
          within the heading section.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_39" type="invoic:SegmentGroup39"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_40" type="invoic:SegmentGroup40"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_41" type="invoic:SegmentGroup41"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_42" type="invoic:SegmentGroup42"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_43" type="invoic:SegmentGroup43"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
          A group of segments specifying the markings and labels on
          individual physical units.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCI" type="Q1:Pci"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="GIN" type="Q1:Gin"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
          A group of segment for giving references only relevant to
          the specified party rather than the whole invoice.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup35">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 35:
             A group of segment for giving references only relevant to
             the specified party rather than the whole line item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
       A group of segments specifying allowances and charges for the
       whole invoice. The allowance or charge specified within this
       Segment group may either relate to the total invoice in which
       case it cannot be overridden at detail level, or it can relate
       to the line items as a default allowance/charge and can be
       overridden by the ALC Segment group within the detail section.
       Where relevant, additional information, tax and alternate
       currency details are to be indicated in the TAX and MOA
       segments.
       
       The basis for the calculation of the allowance/charge may be a
       quantity, a percentage, an amount or a rate and one of the
       Segment group 15-19 should be used accordingly.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_16" type="invoic:SegmentGroup16"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_17" type="invoic:SegmentGroup17"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_18" type="invoic:SegmentGroup18"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_19" type="invoic:SegmentGroup19"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_20" type="invoic:SegmentGroup20"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_21" type="invoic:SegmentGroup21"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup45">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 45:
             A group of segments giving the location and date/time
             information relative to the transportation.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup29">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 29:
          A group giving references and where necessary, their dates,
          relating to the line item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup23">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 23:
       A segment group to give information about adjustment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="AJT" type="Q1:Ajt"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
          A group of segments giving the location and date/time
          information relative to the transportation.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup24">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 24:
       A segment group giving the possibility in a reply to INVOIC of
       instructing the other party of the action to be taken.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="INP" type="Q1:Inp"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
          A group of segments to allow reference to transport details.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup37">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 37:
             A group of segments giving contact details of the
             specific person or department within the party identified
             in the NAD segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
       A group of segments identifying the packaging, physical
       dimensions and marks and numbers for goods referenced by the
       whole invoice.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAC" type="Q1:Pac"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_14" type="invoic:SegmentGroup14"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup50">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 50:
       A group of segments specifying taxes totals for the invoice.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup44">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 44:
          A group of segments identifying the mode and means of
          transport, location and relevant dates and times for
          transportation, relating to the line item, where this is
          different to or not specified within the heading section.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TDT" type="Q1:Tdt"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_45" type="invoic:SegmentGroup45"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
