d96a/jaxb/src/main/xsds/resmsg.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:resmsg="urn:org.milyn.edi.unedifact:un:d96a:resmsg" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:resmsg">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="RESMSG" type="resmsg:RESMSG"/>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
             A group of segments containing the monetary amount to be
             paid related to the quantity of the service or product
             identified in the preceding IMD segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="QTY" type="Q1:Qty"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
                A group of segments providing documentation
                information related to the preceding NAD segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
          A group of segments containing information pertaining to the
          beneficiaries of the services or products requested in the
          message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MEM" type="Q1:Mem"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_10" type="resmsg:SegmentGroup10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
                A group of segments providing payment information,
                payment terms, financial institution, monetary amount
                and references related to the preceding NAD segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAI" type="Q1:Pai"/>
      <xsd:element form="qualified" minOccurs="0" name="PAT" type="Q1:Pat"/>
      <xsd:element form="qualified" minOccurs="0" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="RFF" type="Q1:Rff"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
                A group of segments providing contact information
                related to the NAD segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
                            DIM-FTX-SG6-SG7-SG8
          A group of segments identifying a particular service or
          product requested.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="IMD" type="Q1:Imd"/>
      <xsd:element form="qualified" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="LAN" type="Q1:Lan"/>
      <xsd:element form="qualified" maxOccurs="20" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="PAI" type="Q1:Pai"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="PAT" type="Q1:Pat"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DIM" type="Q1:Dim"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_6" type="resmsg:SegmentGroup6"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_7" type="resmsg:SegmentGroup7"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_8" type="resmsg:SegmentGroup8"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
                A group of segments providing information of special
                requirements or conditions related to the preceding
                NAD segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
             A group of segments identifying location and if necessary
             the name and address of a specific place connected with
             this location.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
             A group of segments providing special conditions or
             additional requirements related to the service or product
             identified in the preceding IMD segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments identifying the sender and the receiver and
       all other parties involved in the transaction and how to
       communicate information to each of them.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
      <xsd:element form="qualified" minOccurs="0" name="LAN" type="Q1:Lan"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_3" type="resmsg:SegmentGroup3"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
          A group of segments identifying a person or a department
          within a party specified in the preceding NAD segment and
          how to communicate with them.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
      <xsd:element form="qualified" minOccurs="0" name="LAN" type="Q1:Lan"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RESMSG">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" minOccurs="0" name="LAN" type="Q1:Lan"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="PAI" type="Q1:Pai"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="PAT" type="Q1:Pat"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_1" type="resmsg:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_2" type="resmsg:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_4" type="resmsg:SegmentGroup4"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
                               SG14
             A group of segments providing information related to a
             group or an individual beneficiary.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="ATT" type="Q1:Att"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="LAN" type="Q1:Lan"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_11" type="resmsg:SegmentGroup11"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_12" type="resmsg:SegmentGroup12"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_13" type="resmsg:SegmentGroup13"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_14" type="resmsg:SegmentGroup14"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
       A group of segments relating to the requested services and to
       the beneficiaries.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="SEQ" type="Q1:Seq"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_5" type="resmsg:SegmentGroup5"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_9" type="resmsg:SegmentGroup9"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments indicating references relating to the
       message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
