d96a/jaxb/src/main/xsd/iftmbc/iftmbc.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:iftmbc="urn:org.milyn.edi.unedifact:un:d96a:iftmbc" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:iftmbc">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="IFTMBC" type="iftmbc:IFTMBC"/>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
       A group of segments to identify a party, related references,
       locations contacts, required documents, and charges to be paid
       by the party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_7" type="iftmbc:SegmentGroup7"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
          A group of segments to specify dimensions applicable to a
          goods item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DIM" type="Q1:Dim"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
          A group of segments to specify measurements applicable to a
          goods item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup17">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 17:
          A group of segments to identify different equipment pick-up
          or drop-off places.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments containing a reference and constants which
       apply to the entire message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
          A group of segments to specify an additional reference
          related to the stage of the transport.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup16">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 16:
       A group of segments to specify equipment in which goods are
       transported.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="EQD" type="Q1:Eqd"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
      <xsd:element form="qualified" minOccurs="0" name="TMD" type="Q1:Tmd"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DIM" type="Q1:Dim"/>
      <xsd:element form="qualified" minOccurs="0" name="HAN" type="Q1:Han"/>
      <xsd:element form="qualified" minOccurs="0" name="TMP" type="Q1:Tmp"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_17" type="iftmbc:SegmentGroup17"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
          A group of segments to identify references to a goods item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
          A group of segments to specify a location and date/time
          related to this leg of transport.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
          A group of segments to specify documents and associated
          date(s) and time(s) for a goods item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
          A group of segments to identify different places of
          collection and/or delivery for the goods item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
          A group of segments to specify a transport service
          requirement and its associated details (such as applicable
          commercial agreement) related to the party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TSR" type="Q1:Tsr"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="TPL" type="Q1:Tpl"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
             A group of segments to identify dangerous goods
             measurements.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" minOccurs="0" name="EQN" type="Q1:Eqn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
                         SG12-SG13-SG14
       A group of segments to describe the goods items for which
       transport is undertaken.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GID" type="Q1:Gid"/>
      <xsd:element form="qualified" minOccurs="0" name="HAN" type="Q1:Han"/>
      <xsd:element form="qualified" minOccurs="0" name="TMP" type="Q1:Tmp"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
      <xsd:element form="qualified" minOccurs="0" name="TMD" type="Q1:Tmd"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_9" type="iftmbc:SegmentGroup9"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="GDS" type="Q1:Gds"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_10" type="iftmbc:SegmentGroup10"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_11" type="iftmbc:SegmentGroup11"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_12" type="iftmbc:SegmentGroup12"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_13" type="iftmbc:SegmentGroup13"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_14" type="iftmbc:SegmentGroup14"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
          A group of segments to specify dangerous goods details
          related to the goods item. One goods item may be in
          different dangerous goods classes.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DGS" type="Q1:Dgs"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_15" type="iftmbc:SegmentGroup15"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IFTMBC">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="COM" type="Q1:Com"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="TSR" type="Q1:Tsr"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="CNT" type="Q1:Cnt"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_1" type="iftmbc:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_2" type="iftmbc:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="TCC" type="Q1:Tcc"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_3" type="iftmbc:SegmentGroup3"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_6" type="iftmbc:SegmentGroup6"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_8" type="iftmbc:SegmentGroup8"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_16" type="iftmbc:SegmentGroup16"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
       A group of segments to indicate details of the movement of
       goods such as mode and means of transport, locations,
       departure, and arrival date(s) and time(s).</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TDT" type="Q1:Tdt"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="TSR" type="Q1:Tsr"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_4" type="iftmbc:SegmentGroup4"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_5" type="iftmbc:SegmentGroup5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments to specify locations and related
       date(s)/time(s) which apply to the entire message, e.g. place
       of transhipment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
