d96a/jaxb/src/main/xsd/paymul/paymul.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:paymul="urn:org.milyn.edi.unedifact:un:d96a:paymul" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:paymul">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="PAYMUL" type="paymul:PAYMUL"/>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments identifying any previously sent message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
          A group of segments providing information for subsequent use
          by regulatory authorities requiring statistical and other
          types of data.
          It also identifies the regulatory authority for which the
          information is intended followed by the information itself.
          
          This group is mutually exclusive with Segment Group 15.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
          A group of segments - mutually exclusive with level -C-
          containing the details of payment, which are determined for
          all payments on level C.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PRC" type="Q1:Prc"/>
      <xsd:element form="qualified" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup16">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 16:
             A group of segments containing the details of payment.
             The content of these segments is passed through the
             banking chain from the ordering customer to the
             beneficiary.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PRC" type="Q1:Prc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_17" type="paymul:SegmentGroup17"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_23" type="paymul:SegmentGroup23"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup19">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 19:
                   A group of segments indicating adjustment amounts
                   and their referenced documents.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="AJT" type="Q1:Ajt"/>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
          A group of segments containing instructions from the
          ordering customer relating to parties identified in the NAD
          and FII segments.
          It specifies action to be taken by the identified parties
          and the date (and optionally time) by which such action
          needs to be taken.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="INP" type="Q1:Inp"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup24">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 24:
       A group of segments specifying the details of any
       authentication (validation) procedure applied to the PAYMUL
       message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="AUT" type="Q1:Aut"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PAYMUL">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="BUS" type="Q1:Bus"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_1" type="paymul:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_2" type="paymul:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="Segment_group_3" type="paymul:SegmentGroup3"/>
      <xsd:element form="qualified" maxOccurs="9999" name="Segment_group_4" type="paymul:SegmentGroup4"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="CNT" type="Q1:Cnt"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_24" type="paymul:SegmentGroup24"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
          A group of segments containing the account servicing bank
          including the account to be debited. If the ordering party
          is not quoted separately in the NAD-segment on level-B or
          level-A, then this group also contains the information of
          the ordering party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
          A group of segments containing the currency of the single
          amounts in level C, currency to be transferred, plus the
          total of all single amounts of level C.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
                         SG11
       This segment group contains information regarding the debit
       side of this transaction and details which are pertinent to all
       payments specified in the message. Certain payment details may
       be provided either in segment group 4 or in segment group 11,
       but not in both.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LIN" type="Q1:Lin"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="BUS" type="Q1:Bus"/>
      <xsd:element form="qualified" minOccurs="0" name="FCA" type="Q1:Fca"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_5" type="paymul:SegmentGroup5"/>
      <xsd:element form="qualified" name="Segment_group_6" type="paymul:SegmentGroup6"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="Segment_group_7" type="paymul:SegmentGroup7"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_8" type="paymul:SegmentGroup8"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_9" type="paymul:SegmentGroup9"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_10" type="paymul:SegmentGroup10"/>
      <xsd:element form="qualified" maxOccurs="9999" name="Segment_group_11" type="paymul:SegmentGroup11"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
                            SG15-SG16
          This segment group contains information regarding the
          Beneficiaries of the payments. Certain payment details may
          be provided either in segment group 11 or in segment group
          4, but not in both.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="SEQ" type="Q1:Seq"/>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="PAI" type="Q1:Pai"/>
      <xsd:element form="qualified" minOccurs="0" name="FCA" type="Q1:Fca"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="Segment_group_12" type="paymul:SegmentGroup12"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="Segment_group_13" type="paymul:SegmentGroup13"/>
      <xsd:element form="qualified" maxOccurs="3" minOccurs="0" name="Segment_group_14" type="paymul:SegmentGroup14"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_15" type="paymul:SegmentGroup15"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_16" type="paymul:SegmentGroup16"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup23">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 23:
                A group of segments indicating the end of the details
                of payment and specifying hash total amounts for
                control purposes.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup17">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 17:
                A group of segments providing details of all
                documents, e.g., invoices, statements, despatch
                advices, etc..., to which the Multiple Payment Order
                refers. It includes information on the monetary
                amounts for each document and on any adjustments (with
                an indication of the reason for adjustments) and
                discounts. For information purposes an indication of
                the tax element can be provided.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_18" type="paymul:SegmentGroup18"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_19" type="paymul:SegmentGroup19"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="Segment_group_20" type="paymul:SegmentGroup20"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
             A group of segments containing the beneficiary's bank and
             the account and if necessary up to two intermediary
             banks.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
             A group of segments containing instructions from the
             ordering customer relating to parties identified in the
             NAD and FII segments. It specifies action to be taken by
             the identified parties and the date (and optionally time)
             by which such action needs to be taken.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="INP" type="Q1:Inp"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup18">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 18:
                   A group of segments specifying the currencies and
                   the related dates/periods valid to the referenced
                   document where different to the reference currency.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup21">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 21:
                      A group of segments identifying the currency and
                      the related dates/periods of the line item where
                      different to the remittance and document
                      currency.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
             A group of segments providing information for subsequent
             use by regulatory authorities requiring statistical and
             other types of data. It also identifies the regulatory
             authority for which the information is intended followed
             by the information itself.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup22">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 22:
                      A group of segments indicating adjustment
                      amounts and their referenced documents for this
                      line item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="AJT" type="Q1:Ajt"/>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
          A group of segments identifying the ordering party mutually
          exclusive with NAD-segment on level-A for the ordering party
          (Ordering customer and payor). Furthermore, one contact
          party can also be quoted in this group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup20">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 20:
                   A group of segments which may be used when required
                   to provide details of individual line items in the
                   reference document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DLI" type="Q1:Dli"/>
      <xsd:element form="qualified" maxOccurs="5" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="PIA" type="Q1:Pia"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_21" type="paymul:SegmentGroup21"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_22" type="paymul:SegmentGroup22"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
             A group of segments identifying the name and address of
             the beneficiary and one contact party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments identifying the financial institutions 
       involved in the multiple payment order and the routing
       functions with their contacts.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
       A group of segments identifying the ordering party, which is
       valid for all payment orders.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
