d96a/jaxb/src/main/xsd/pricat/pricat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:pricat="urn:org.milyn.edi.unedifact:un:d96a:pricat" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:pricat">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="PRICAT" type="pricat:PRICAT"/>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
       A group of segments specifying allowances and charges for the
       whole Price/sales catalogue. The allowance or charge specified
       within this segment group may either relate to the total
       Price/sales catalogue in which case it cannot be overridden at
       detail level, or it can relate to the line items as a default
       allowance/charge and can be overridden by the ALC segment group
       within the detail section. Where relevant, additional
       information, date information, tax/fee details are to be
       indicated. The basis for the calculation of the
       allowance/charge may be a quantity, a percentage, an amount or
       a rate and one of the segment group 11-14) should be used
       accordingly.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_11" type="pricat:SegmentGroup11"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_12" type="pricat:SegmentGroup12"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_13" type="pricat:SegmentGroup13"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_14" type="pricat:SegmentGroup14"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_15" type="pricat:SegmentGroup15"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup34">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 34:
             A group of segments providing product characteristic and
             product characteristic details.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CCI" type="Q1:Cci"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="CAV" type="Q1:Cav"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="MEA" type="Q1:Mea"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup42">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 42:
                A group of segments specifying the rate per unit and
                basis to which the allowance or charge applies, e.g.
                the allowance/charge rate is 3 DEM per 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RTE" type="Q1:Rte"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
          A group of segments giving contact details of the person or
          department within the party identified in the NAD segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup17">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 17:
          A group of segments specifying the currencies and related
          dates/periods valid for the whole pricing group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup35">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 35:
             A group of segments specifying a tax type, category and
             rate relating to the item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
          A group of segments specifying the percentage for the
          allowance or charge, e.g. The allowance/charge amount is
          calculated as 5% of the goods value or a price reduction of
          5% may be specified if the goods quantity ordered is within
          the range 5 tons to 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup26">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 26:
          A group of segments identifying the parties with the
          associated information relevant for the pricing group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_27" type="pricat:SegmentGroup27"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_28" type="pricat:SegmentGroup28"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments identifying the parties with associated
       information relevant to the price/sales catalogue.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_3" type="pricat:SegmentGroup3"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_4" type="pricat:SegmentGroup4"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup21">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 21:
             A group of segments specifying the quantity of the
             allowance or charge with its measure unit specifier. A
             range to which the allowance or charge applies may be
             specified. e.g. An allowance of a free quantity of 20
             pieces may be specified if the quantity of goods ordered
             is greater than 1000 pieces.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup31">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 31:
          A group of segments indicating the terms of delivery for the
          whole pricing group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TOD" type="Q1:Tod"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup22">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 22:
             A group of segments specifying the percentage for the
             allowance or charge, e.g. The allowance/charge amount is
             calculated as 5% of the goods value or a price reduction
             of 5% may be specified if the goods quantity ordered is
             within the range 5 tons to 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
          A group of segments specifying the rate per unit and basis
          to which the allowance or charge applies, e.g. The
          allowance/charge rate is 3 DEM per 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RTE" type="Q1:Rte"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup16">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 16:
                         SG29-SG30-SG31-SG32-SG33
       A group of segments enabling the standard commercial factors
       relevant to a specific group of items to be specified. e.g.
       quantity related price break factors or minimum order quantity.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PGI" type="Q1:Pgi"/>
      <xsd:element form="qualified" maxOccurs="15" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_17" type="pricat:SegmentGroup17"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_18" type="pricat:SegmentGroup18"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_19" type="pricat:SegmentGroup19"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_20" type="pricat:SegmentGroup20"/>
      <xsd:element form="qualified" maxOccurs="20" minOccurs="0" name="Segment_group_26" type="pricat:SegmentGroup26"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_29" type="pricat:SegmentGroup29"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_30" type="pricat:SegmentGroup30"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_31" type="pricat:SegmentGroup31"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_32" type="pricat:SegmentGroup32"/>
      <xsd:element form="qualified" maxOccurs="999999" minOccurs="0" name="Segment_group_33" type="pricat:SegmentGroup33"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup30">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 30:
          A group of segments identifying the mode and means of
          transport, and locations relating to the whole pricing
          group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TDT" type="Q1:Tdt"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
          A group of segments giving references only relevant to the
          specified party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup43">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 43:
                A group of segments of segments specifying tax related
                information for the allowance or charge.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup25">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 25:
             A group of segments of segments specifying tax related
             information for the allowance or charge.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup19">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 19:
          A group of segments specifying tax related information,
          valid for the pricing group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup46">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 46:
             A group of segments identifying the mode and means of
             transport, and locations relating to the Price line item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TDT" type="Q1:Tdt"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup44">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 44:
             A group of segments identifying the packaging, physical
             dimensions, for the Price item line. If required,
             providing handling instructions and notification of
             hazardous materials.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAC" type="Q1:Pac"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="HAN" type="Q1:Han"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup18">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 18:
          A group of segments identifying the details of the price
          information for the product or service identified in the
          Price group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PRI" type="Q1:Pri"/>
      <xsd:element form="qualified" minOccurs="0" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="APR" type="Q1:Apr"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
       A group of segments indicating the terms of delivery for the
       whole Price/sales catalogue.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TOD" type="Q1:Tod"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
       A group of segments specifying the currencies and related
       dates/periods valid for the whole Price/sales catalogue.
       Currency data maybe omitted in national applications but will
       be required for international transactions.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup41">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 41:
                A group of segments specifying a monetary amount for
                an allowance or charge. A range to which the allowance
                or charge applies can be specified, e.g. an allowance
                of 5000 BEF may be specified if goods value ordered is
                greater than 100000 BEF.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup28">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 28:
             A group of segments giving contact details of the person
             or department within the party identified in the NAD
             segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
       A group of segments specifying tax related information, valid
       for the whole Price/sales catalogue, e.g. Value Added Tax at
       the standard rate is applicable for all items.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PRICAT">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" maxOccurs="35" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_1" type="pricat:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_2" type="pricat:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_5" type="pricat:SegmentGroup5"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_6" type="pricat:SegmentGroup6"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_7" type="pricat:SegmentGroup7"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_8" type="pricat:SegmentGroup8"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_9" type="pricat:SegmentGroup9"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_10" type="pricat:SegmentGroup10"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="Segment_group_16" type="pricat:SegmentGroup16"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
          A group of segments specifying the quantity of the allowance
          or charge with its measure unit specifier. A range to which
          the allowance or charge applies may be specified, e.g. An
          allowance of a free quantity of 20 pieces may be specified
          if the quantity of goods ordered is greater than 1000
          pieces.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup38">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 38:
             A group of segments specifying allowances and charges for
             the price item line. When relevant, additional
             information, date information, tax details may be
             indicated. The basis for the calculation of the
             allowance/charge may be a quantity, a percentage, an
             amount or a rate and one of the groups 39-40 should be
             used accordingly.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_39" type="pricat:SegmentGroup39"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_40" type="pricat:SegmentGroup40"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_41" type="pricat:SegmentGroup41"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_42" type="pricat:SegmentGroup42"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_43" type="pricat:SegmentGroup43"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
       A group of segments specifying the terms of payment applicable
       for the whole Price/sales catalogue.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAT" type="Q1:Pat"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup39">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 39:
                A group of segments specifying the quantity of the
                allowance or charge with its measure unit specifier. A
                range to which the allowance or charge applies may be
                specified. e.g. An allowance of a free quantity of 20
                pieces may be specified if the quantity of goods
                ordered is greater than 1000 pieces.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
          A group of segments specifying a monetary amount for an
          allowance or charge. A range to which the allowance or
          charge applies can be specified, e.g. an allowance of 5000
          BEF may be specified if goods value ordered is greater than
          100000 BEF.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup23">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 23:
             A group of segments specifying a monetary amount for an
             allowance or charge. A range to which the allowance or
             charge applies can be specified, e.g. an allowance of
             5000 BEF may be specified if goods value ordered is
             greater than 100000 BEF.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup32">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 32:
          A group of segments specifying the packaging, physical
          dimensions for goods referenced by the price group. If
          required, providing handling instructions and notification
          of hazardous materials, relating to the price group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAC" type="Q1:Pac"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="HAN" type="Q1:Han"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup29">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 29:
          A group of segments specifying the terms of payment
          applicable for the whole pricing group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAT" type="Q1:Pat"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup24">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 24:
             A group of segments specifying the rate per unit and
             basis to which the allowance or charge applies, e.g. The
             allowance/charge rate is 3 DEM per 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RTE" type="Q1:Rte"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup36">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 36:
             A group of segments specifying the currencies and related
             dates/periods valid for the Price item line.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
       A group of segments identifying the mode and means of transport
       and locations relating to the whole Price/sales catalogue.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TDT" type="Q1:Tdt"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup20">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 20:
          A group of segments specifying allowances and charges for
          the whole pricing group. The allowances or charges specified
          within group 19 may either relate to the total pricing group
          in which case it cannot be overridden at price item level,
          or it can relate to the price item level as a default
          allowance/charge and can be overridden by the ALC group
          within at the price item level. When relevant, additional
          information, tax details may be indicated. The basis for the
          calculation of the allowance/charge may be a quantity, a
          percentage, an amount or a rate and one of the groups 20-23
          should be used accordingly.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ALC" type="Q1:Alc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_21" type="pricat:SegmentGroup21"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_22" type="pricat:SegmentGroup22"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="Segment_group_23" type="pricat:SegmentGroup23"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_24" type="pricat:SegmentGroup24"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_25" type="pricat:SegmentGroup25"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
          A group of segments of segments specifying tax related
          information for the allowance or charge.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TAX" type="Q1:Tax"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup45">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 45:
             A group of segments specifying the terms of payment
             applicable for the Price item line.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAT" type="Q1:Pat"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup27">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 27:
             A group of segments giving references only relevant to
             the specified party.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments for giving references and where necessary,
       their dates, relating to the whole message, e.g. request for
       price information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup47">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 47:
             A group of segments indicating the terms of delivery for
             the Price line item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TOD" type="Q1:Tod"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup40">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 40:
                A group of segments specifying the percentage for the
                allowance or charge, e.g. The allowance/charge amount
                is calculated as 5% of the goods value or a price
                reduction of 5% may be specified if the goods quantity
                ordered is within the range 5 tons to 10 tons.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup37">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 37:
             A group of segments identifying the details of the price
             information for the product or service identified in the
             PIT segment group.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PRI" type="Q1:Pri"/>
      <xsd:element form="qualified" minOccurs="0" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="APR" type="Q1:Apr"/>
      <xsd:element form="qualified" minOccurs="0" name="RNG" type="Q1:Rng"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="PCD" type="Q1:Pcd"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup33">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 33:
                            LOC-DOC-FTX-SG34-SG35-SG36-SG37-SG38-SG44-
                            SG45-SG46-SG47
          A group of segments providing the relevant price/sales
          information for the specified product/service.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LIN" type="Q1:Lin"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="PIA" type="Q1:Pia"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="IMD" type="Q1:Imd"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="HAN" type="Q1:Han"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_34" type="pricat:SegmentGroup34"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_35" type="pricat:SegmentGroup35"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_36" type="pricat:SegmentGroup36"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_37" type="pricat:SegmentGroup37"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_38" type="pricat:SegmentGroup38"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_44" type="pricat:SegmentGroup44"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_45" type="pricat:SegmentGroup45"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_46" type="pricat:SegmentGroup46"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_47" type="pricat:SegmentGroup47"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
