d96a/jaxb/src/main/xsd/payext/payext.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:payext="urn:org.milyn.edi.unedifact:un:d96a:payext" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:payext">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="PAYEXT" type="payext:PAYEXT"/>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
             A group of segments specifying the currencies and the
             related dates/periods valid to the referenced document
             where different to the reference currency.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
       A group of segments identifying the name and address of the
       non-financial institutions involved in the transaction and
       their contacts.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
                A group of segments indicating adjustment amounts and
                their referenced documents for this line item.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="AJT" type="Q1:Ajt"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
          A group of segments providing details of all documents,
          e.g., invoices, statements, despatch advices, etc..., to
          which the Extended Payment Order refers. It includes
          information on the monetary amounts for each document and on
          any adjustments (with an indication of the reason for
          adjustments) and discounts. For information purposes an
          indication of the tax element can be provided.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DOC" type="Q1:Doc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_9" type="payext:SegmentGroup9"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_10" type="payext:SegmentGroup10"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_11" type="payext:SegmentGroup11"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
                A group of segments identifying the currency and the
                related dates/periods of the line item where different
                to the remittance and document currency.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments identifying the monetary amount and, if
       necessary, the currencies, exchange rate and date for that
       payment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="CUX" type="Q1:Cux"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
             A group of segments indicating adjustment amounts and
             their referenced documents.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="AJT" type="Q1:Ajt"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
       A group of segments specifying the details of authentication.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="AUT" type="Q1:Aut"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
       A group of segments containing instructions from the Ordering
       Customer relating to parties identified in the NAD and FII
       segments. It specifies action to be taken by the identified
       parties, and the date (and optionally time) by which such
       action needs to be taken.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="INP" type="Q1:Inp"/>
      <xsd:element form="qualified" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
       A group of segments providing information about the financial
       institutions and accounts related to the Extended Payment
       Order, together with details of any parties to be contacted in
       relation to the transaction.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="FII" type="Q1:Fii"/>
      <xsd:element form="qualified" minOccurs="0" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PAYEXT">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" minOccurs="0" name="BUS" type="Q1:Bus"/>
      <xsd:element form="qualified" minOccurs="0" name="PAI" type="Q1:Pai"/>
      <xsd:element form="qualified" minOccurs="0" name="FCA" type="Q1:Fca"/>
      <xsd:element form="qualified" maxOccurs="4" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_1" type="payext:SegmentGroup1"/>
      <xsd:element form="qualified" name="Segment_group_2" type="payext:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="4" minOccurs="0" name="Segment_group_3" type="payext:SegmentGroup3"/>
      <xsd:element form="qualified" maxOccurs="6" minOccurs="0" name="Segment_group_4" type="payext:SegmentGroup4"/>
      <xsd:element form="qualified" maxOccurs="4" minOccurs="0" name="Segment_group_5" type="payext:SegmentGroup5"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_6" type="payext:SegmentGroup6"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_7" type="payext:SegmentGroup7"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_15" type="payext:SegmentGroup15"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
          A group of segments indicating the end of the details of
          payment and specifying hash total amounts for control
          purposes.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MOA" type="Q1:Moa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
             A group of segments which may be used when required to
             provide details of individual line items in the reference
             document.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DLI" type="Q1:Dli"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="PIA" type="Q1:Pia"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_12" type="payext:SegmentGroup12"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_13" type="payext:SegmentGroup13"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments identifying a previously-sent message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
       A group of segments providing information for subsequent use by
       regulatory authorities requiring statistical and other types of
       data. It also identifies the regulatory authority for which the
       information is intended followed by the information itself.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="RCS" type="Q1:Rcs"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
       A group of segments giving information in free or in coded form
       about the purpose of the payment from the ordering customer to
       the beneficiary.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PRC" type="Q1:Prc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_8" type="payext:SegmentGroup8"/>
      <xsd:element form="qualified" minOccurs="0" name="Segment_group_14" type="payext:SegmentGroup14"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
