d96a/jaxb/src/main/xsd/gesmes/gesmes.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:gesmes="urn:org.milyn.edi.unedifact:un:d96a:gesmes" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:gesmes">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="GESMES" type="gesmes:GESMES"/>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
       A group of segments containing either a coded or non coded list
       of items and related information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="VLI" type="Q1:Vli"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="IDE" type="Q1:Ide"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_5" type="gesmes:SegmentGroup5"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_6" type="gesmes:SegmentGroup6"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
          A group of segments containing an identifier relevant to the
          data set, a processing indicator and a date.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="IDE" type="Q1:Ide"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_13" type="gesmes:SegmentGroup13"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_14" type="gesmes:SegmentGroup14"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
             A group of segments containing the codes or names in a
             value list that are relevant to the object identified in
             the IDE segment of the group e.g. one or more codes that
             specify the scope of the data set.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CDV" type="Q1:Cdv"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
          A group of segments containing the related identification
          number and the period of validity.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIR" type="Q1:Gir"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
             A group of segments identifying a value list or a value
             in a value list which is used by the statistical concept.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="IDE" type="Q1:Ide"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="ATT" type="Q1:Att"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments identifying the sender and other relevant
       parties, their reference and the communication contact inside
       the corresponding organisations.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="IDE" type="Q1:Ide"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_3" type="gesmes:SegmentGroup3"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
          A group of segments containing the codes or names in a value
          list.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CDV" type="Q1:Cdv"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="IDE" type="Q1:Ide"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
       A group of segments identifying the data set, its status, the
       source of the data, the array data itself, the structure
       definition of the data set and definition of the scope of the
       data and local values, details on the originator of a data, and
       footnotes associated with the array data.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DSI" type="Q1:Dsi"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="STS" type="Q1:Sts"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="2" minOccurs="0" name="GIR" type="Q1:Gir"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="ARR" type="Q1:Arr"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_12" type="gesmes:SegmentGroup12"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_16" type="gesmes:SegmentGroup16"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_18" type="gesmes:SegmentGroup18"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_20" type="gesmes:SegmentGroup20"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GESMES">
    <xsd:sequence>
      <xsd:element form="qualified" minOccurs="0" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_1" type="gesmes:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="Segment_group_2" type="gesmes:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_4" type="gesmes:SegmentGroup4"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_7" type="gesmes:SegmentGroup7"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_8" type="gesmes:SegmentGroup8"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_11" type="gesmes:SegmentGroup11"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup18">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 18:
          A group of segments identifying the location in the data set
          to which a footnote is relevant.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="FNS" type="Q1:Fns"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_19" type="gesmes:SegmentGroup19"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup20">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 20:
          A group of segments containing textual footnotes related to
          data in the data set.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="FNT" type="Q1:Fnt"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
       A group of segments specifying a statistical concept.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="STC" type="Q1:Stc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="IDE" type="Q1:Ide"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup17">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 17:
             A group of segments giving contact information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup16">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 16:
          A group of segments identifying the department and contact
          person within the sending organisation responsible for a
          particular aspect of the data set (e.g. compilation).</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="IDE" type="Q1:Ide"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="Segment_group_17" type="gesmes:SegmentGroup17"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
                A group of segments containing the codes or names in a
                value list that are relevant to the structure
                component identified in the SCD segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CDV" type="Q1:Cdv"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
          A group of segments which defines the structure of an array.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="SCD" type="Q1:Scd"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="ATT" type="Q1:Att"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_10" type="gesmes:SegmentGroup10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
          A group of segments giving contact information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
             A group of segments which identifies a structure
             component of the array and defines attributes or codes
             which are local to the data set identified in the DSI
             segment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="SCD" type="Q1:Scd"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="ATT" type="Q1:Att"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_15" type="gesmes:SegmentGroup15"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup19">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 19:
             A group of segments identifying the scope of the
             footnote, the location in the data set to which a
             footnote is relevant, and the identity number of that
             footnote.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="REL" type="Q1:Rel"/>
      <xsd:element form="qualified" minOccurs="0" name="ARR" type="Q1:Arr"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="IDE" type="Q1:Ide"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments containing textual footnotes related to
       value lists or definitions of the content and structure of an
       array.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="FNT" type="Q1:Fnt"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
       A group of segments which identifies and defines the structure
       of an array.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="ASI" type="Q1:Asi"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="GIS" type="Q1:Gis"/>
      <xsd:element form="qualified" maxOccurs="9" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="IDE" type="Q1:Ide"/>
      <xsd:element form="qualified" maxOccurs="999" minOccurs="0" name="Segment_group_9" type="gesmes:SegmentGroup9"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
