d96a/jaxb/src/main/xsd/desadv/desadv.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="urn:org.milyn.edi.unedifact:un:d96a:common" xmlns:desadv="urn:org.milyn.edi.unedifact:un:d96a:desadv" targetNamespace="urn:org.milyn.edi.unedifact:un:d96a:desadv">
  <xsd:import namespace="urn:org.milyn.edi.unedifact:un:d96a:common"/>
  <xsd:element name="DESADV" type="desadv:DESADV"/>
  <xsd:complexType name="SegmentGroup14">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 14:
                A group of segments giving package identification
                numbers and, where relevant, delivery limitation
                information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIN" type="Q1:Gin"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="DLM" type="Q1:Dlm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup2">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 2:
       A group of segments identifying names, addresses, locations,
       and required supporting documents relevant to the whole
       Despatch Advice.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_3" type="desadv:SegmentGroup3"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_4" type="desadv:SegmentGroup4"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup10">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 10:
       A group of segments providing details of all package levels and
       of the individual despatched items contained in the
       consignment. This segment group provides the capability to give
       the hierarchical packing relationships. The group defines a
       logical top-down order structure.
       The lowest level package information of the hierarchy is
       followed by the detail product information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CPS" type="Q1:Cps"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_11" type="desadv:SegmentGroup11"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_15" type="desadv:SegmentGroup15"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup11">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 11:
          A group of segments identifying packaging, physical
          dimensions, marks and numbers, quantities, date and time
          information, handling information and information about
          packing at this level.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PAC" type="Q1:Pac"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_12" type="desadv:SegmentGroup12"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="Segment_group_13" type="desadv:SegmentGroup13"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup18">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 18:
             A group of segments giving location information and where
             relevant, additional addresses, date and time, and
             quantities.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" minOccurs="0" name="NAD" type="Q1:Nad"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="QTY" type="Q1:Qty"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup6">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 6:
       A group of segments specifying details of the mode and means of
       transport and date/time of departure and destination relevant
       to the whole despatch advice.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TDT" type="Q1:Tdt"/>
      <xsd:element form="qualified" maxOccurs="6" minOccurs="0" name="PCD" type="Q1:Pcd"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_7" type="desadv:SegmentGroup7"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DESADV">
    <xsd:sequence>
      <xsd:element form="qualified" name="BGM" type="Q1:Bgm"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_1" type="desadv:SegmentGroup1"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_2" type="desadv:SegmentGroup2"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_5" type="desadv:SegmentGroup5"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_6" type="desadv:SegmentGroup6"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_8" type="desadv:SegmentGroup8"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_10" type="desadv:SegmentGroup10"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="CNT" type="Q1:Cnt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup20">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 20:
             A group of segments identifying one specific package or a
             number of packages, their marks and numbers,
             measurements, quantities, date and time information and
             handling instructions.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCI" type="Q1:Pci"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_21" type="desadv:SegmentGroup21"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_22" type="desadv:SegmentGroup22"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup8">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 8:
       A group of segments providing information relative to the
       equipment used for the transportation of goods relevant to the
       whole despatch advice.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="EQD" type="Q1:Eqd"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="SEL" type="Q1:Sel"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="EQA" type="Q1:Eqa"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_9" type="desadv:SegmentGroup9"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup12">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 12:
             A group of segments providing information on hazardous
             goods and handling.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="HAN" type="Q1:Han"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup19">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 19:
             A group of segments indicating the split placement of
             packages or unpacked goods into equipment.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="SGP" type="Q1:Sgp"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="QTY" type="Q1:Qty"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup7">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 7:
          A group of segments giving the location and date/time
          information relative to the transportation.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup16">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 16:
             A group of segments to give reference numbers and dates.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup23">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 23:
             A group of segments identifying quantity variances, the
             reason for the variance, and, when relevant, date and
             time information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="QVR" type="Q1:Qvr"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup1">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 1:
       A group of segments giving references where necessary, their
       dates relating to the whole message, e.g. contract number.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup5">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 5:
       A group of segments indicating terms of delivery.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="TOD" type="Q1:Tod"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="LOC" type="Q1:Loc"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup22">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 22:
                A group of segment providing information on hazardous
                materials and handling.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="HAN" type="Q1:Han"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="GIN" type="Q1:Gin"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup3">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 3:
          A group of segments giving references relevant only to the
          specified party rather than the whole message.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" minOccurs="0" name="DTM" type="Q1:Dtm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup9">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 9:
          A group of segments providing information on hazardous goods
          and their handling.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="HAN" type="Q1:Han"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup17">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 17:
             A group of segments giving information about dangerous
             goods.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="DGS" type="Q1:Dgs"/>
      <xsd:element form="qualified" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup21">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 21:
                A group of segments giving package identification
                numbers and, where relevant, delivery limitation
                information.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="GIN" type="Q1:Gin"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="DLM" type="Q1:Dlm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup4">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 4:
          A group of segments to identify the people, functions,
          departments and appropriate numbers to whom communication
          should be directed.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="CTA" type="Q1:Cta"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="COM" type="Q1:Com"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup13">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 13:
             A group of segments specifying markings, labels, and
             packing numbers.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="PCI" type="Q1:Pci"/>
      <xsd:element form="qualified" minOccurs="0" name="RFF" type="Q1:Rff"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="GIR" type="Q1:Gir"/>
      <xsd:element form="qualified" maxOccurs="99" minOccurs="0" name="Segment_group_14" type="desadv:SegmentGroup14"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGroup15">
    <xsd:annotation>
      <xsd:appinfo source="smooks-mapping-data">Segment group 15:
                            FTX-MOA-SG16-SG17-SG18-SG19-SG20-SG23
          A group of segments providing details of the individual
          despatched items.</xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element form="qualified" name="LIN" type="Q1:Lin"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="PIA" type="Q1:Pia"/>
      <xsd:element form="qualified" maxOccurs="25" minOccurs="0" name="IMD" type="Q1:Imd"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="MEA" type="Q1:Mea"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="QTY" type="Q1:Qty"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="ALI" type="Q1:Ali"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="GIN" type="Q1:Gin"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="GIR" type="Q1:Gir"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="DLM" type="Q1:Dlm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="DTM" type="Q1:Dtm"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="FTX" type="Q1:Ftx"/>
      <xsd:element form="qualified" maxOccurs="5" minOccurs="0" name="MOA" type="Q1:Moa"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_16" type="desadv:SegmentGroup16"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_17" type="desadv:SegmentGroup17"/>
      <xsd:element form="qualified" maxOccurs="100" minOccurs="0" name="Segment_group_18" type="desadv:SegmentGroup18"/>
      <xsd:element form="qualified" maxOccurs="1000" minOccurs="0" name="Segment_group_19" type="desadv:SegmentGroup19"/>
      <xsd:element form="qualified" maxOccurs="9999" minOccurs="0" name="Segment_group_20" type="desadv:SegmentGroup20"/>
      <xsd:element form="qualified" maxOccurs="10" minOccurs="0" name="Segment_group_23" type="desadv:SegmentGroup23"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
